# MATH 120 - Week 1 Notebook

## Intro to Python Programming

This is a markdown/text cell.
Here is an example of using **LaTeX**.
$$2x+1=3$$
$$x=1.$$
Yay! ðŸ™‚ and

> This is a block quote

In [ ]:
# arithmetic examples
12 +12 # addition
12 * 13 # multiplication
25 / 5 # division

In [ ]:
# exponentiation
5**3

# modular division (the remainder after dividing by the second number)

In [ ]:
# order of operations: PEMDAS
(2+4) ** 2

# arithmetic functions
round(12.5) #.5 or down rounds down
round(12.50000001) #greater than 0.5 rounds up
# other functions: abs(), sum(),

In [ ]:
# functions in python are of the form: function()
# arguments are separated by commas
help(round) # this will tell us about the round() function

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
round(0.50)

0

## Strings

In [ ]:
# strings can be either surrounded by a "" or ''
'hello' " world"

'hello'

In [ ]:
# Practice: create some strings and use some arithmetic on them
'my name is' + ' adrian'

'my name is adrian'

In [ ]:
"what is up" - "is"
"math is" / "cool"
"stats is" * "fun"
#as u can see, u can't use any other operand other than + on strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
"meow " * 100 #but u can multiply the number of times a string can be displayed

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
len("  a") #spaces are counted for the length of a string

3

In [ ]:
# Value Types

type(12) #int
type(12.0) #float
type("12") #str
type(3/10)
#you dont have to declare a type like u do in C++

float

In [ ]:
# Type Errors occur when the operand (+,-,...) don't work
"120" / 3 #doesnt work cus the types dont match

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Variables and Statements

In [ ]:
x = 10
2*x+3

pi=3.14159265

message = "This is pi: "

new_pi = str(pi)

message + new_pi

SyntaxError: invalid syntax (ipython-input-1602530349.py, line 13)

In [ ]:
#Practice: what are the limits of naming variables?

obj1 = 36
obj!= 25
obj* = 12
obj& = 34
532ads = 34
x+y = 3 # operations dont work
for = 342 # special python keywords such as and, for, or, class cant be used

SyntaxError: invalid decimal literal (ipython-input-1088544849.py, line 8)

In [ ]:
obj1 = 37
obj2 = str(36)
obj3= " is cool"

obj2 + obj3

SyntaxError: invalid syntax (ipython-input-675238499.py, line 6)

To put a code block on what is displayed as text, we use 3 back quotes ' like so:
```
# This is formatted as code
x = 3
y=2
y+3
```

In [ ]:
# Importing Libraries/Modules
import math

math.pi # a defined variable from math library
math.pow(2,5) # look at description while typing arguments to see how to enter them
math.factorial(10)
math.gcd(10,2)
math.sqrt(10)
math.fmod(10,4)
math.ceil(28.222)

29

In [ ]:
# Scientific/math modules(libraries)
import numpy as np #instead of calling functions with numpy.func, we can now call it by np.func
#numpy stands for numerical python
import sympy as sym # symbolic python

In [ ]:
# Importing a submodule from a module
from sympy import symbols # since modules like sympy can have modules embedded within them, we can choose one from the many it has

y = symbols("y") # makes the string appear as LaTeX
z = symbols("z")

y+2*z # outputs as LaTeX

y + 2*z

In [ ]:
sym.expand((y+2)**2) #expands (y+2)^2 where ** is the same as ^
sym.diff(sym.sin(y),y) #differentiates sin(y) with respect to y

{1: 1, 4: 1}

In [ ]:
# Matrices
matrix_A = sym.Matrix([[1,0],[0,4]]) # creates a matrix A with the first row being 1,0 and second row being 0,4

matrix_A.eigenvals() # this lists the multiplicities of the eigenvalues in matrix A
matrix_A.det() #gets the determinant

4

In [ ]:
# Solving for y in an equation
sym.solve(y**2 -2 * sym.sin(z),z) #solves for y in the equation: y^2 -2sin(z)=0 (with respect to z?)

[pi - asin(y**2/2), asin(y**2/2)]

In [ ]:
,

In [ ]:
# Print statements
print(x)
mes = "!"
print("Hello World", mes) #the comma adds a space for you

10
Hello World!